div(class='publish__div')
  textarea(class='publish__textarea')
  div(class='publish__action-div')
    a(class='publish__action', href='/publish') post 
    span(class='publish__info-action', onclick='infoPopup()') (i)
      span(id='publish__info-text') One post per day...